---
http_interactions:
- request:
    method: get
    uri: https://flymh.mobi/TravelAPI/travelapi/shop/1/mh/Kuala_Lumpur/KCH/1/0/0/Economy/2016-08-09/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Apikey:
      - 52e6d6d613d3a3e825ac02253fe6b5a4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: 'fn({"processingDurationMillis":0,"authorisedAPI":false,"success":false,"airline":"mh","validCreditCards":[],"paypal":false,"support3d":false,"departureAirport":null,"arrivalAirport":null,"apiRequired":false,"fareRules":[],"Errors":[{"code":"1","type":"","userDisplayType":1,"message":"Invalid
        departure airport : ''Kuala_Lumpur''"}],"Warnings":[]})'
  recorded_at: Sun, 06 Mar 2016 08:18:04 GMT
recorded_with: VCR 3.0.1
